.ticket-card {
    border: 1px solid #ccc;
    padding: 10px;
    margin-bottom: 10px;
    border-radius: 10px;
    position: relative;
    background-color: #ffffff;
}

.ticket-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: rgb(144, 144, 152);
    font-weight: 500;
}

.ticket-id {
    font-weight: bold;
}

.user-image {
    width: 30px;  
    height: 30px;
    border-radius: 50%;  
}

.ticket-details {
    display: flex;
    align-items: center;
    margin-top: 5px;
}

.priority-image {
    width: 20px; 
    height: 20px;
    margin-right: 5px;
}

.tag {
    background-color: #f0f0f0; 
    border-radius: 3px;
    padding: 2px 5px;
    font-size: 12px;
}
